/* Buttons */

.accent-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: nowrap;
    margin: 0;
    border-radius: 10rem;
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: var(--accent);
    cursor: pointer;
    white-space: nowrap;
    color: var(--background);
}

.secondary-container-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: nowrap;
    margin: 0;
    border-radius: 10rem;
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: var(--secondary-container);
    cursor: pointer;
    white-space: nowrap;
    color: var(--text);
}

/* Cards */

.aside-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    border-radius: 1rem;
    width: auto;
    min-width: max-content;
    height: auto;
    padding: 1rem;
    background-color: var(--accent-container);
    white-space: nowrap;
    color: var(--text);
}

/* Wrappers */

.row-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    width: auto;
    height: auto;
    background-color: transparent;
}

.icon-wrapper {
	display: flex;
	gap: 1rem;
	width: fit-content;
}

/* Dividers */

.var-hor-divider {
    width: 100%;
    height: 2px;
    margin: 0.5rem 0;
    background-color: var(--secondary);
    opacity: 60%;
}