@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import url('./reset.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./modules.css');

body {
	margin: 0;
	padding: 0;
}

/* ---- Header ---- */
#main-header {
	width: 100%;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--background);
}

#city { white-space: nowrap; }

#show-search-bar { display: none; }

#search-bar {
	width: 750px;
	padding: 16px;
	border-radius: 10rem;
	max-width: 750px;
	min-width: 180px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
	flex-wrap: nowrap;
	background-color: var(--secondary-container);
	color: var(--text);
}

#search-bar-icon { opacity: 60%; }

#city-input { width: 100%; }

#city-input:focus { outline: none; }

#city-input::placeholder { color: var(--text); }

/* Main */

/* Change later to id (see html) */
main {
	display: flex;
	gap: 2rem;
	width: auto !important;
	margin: 3rem;
}

aside {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Aside Card 1 */

#current-weather {
	background-color: var(--accent-container);
}

#current-weather .var-hor-divider {
	background-color: var(--accent);
}

#last-updated { opacity: 60%; }

#celsius-icon {
	width: auto;
	height: 6rem;
	margin-left: -1.5rem;
	margin-top: -0.5rem;
}

#fahrenheit-icon {
	display: none;
	width: auto;
	height: 6rem;
	margin-left: -1.5rem;
	margin-top: -0.5rem;
}

#current-weather-icon {
	width: auto;
	height: 5rem;
}

#callendar-icon { 
	margin-right: 0.5rem;
	color: var(--primary);
}

#current-date { opacity: 80%; }

/* Aside Card 2 */

#forecast {
	font-size: 120%;
	background-color: var(--primary-container);
}

#forecast-header {
	margin-bottom: 0.5rem;
}

#tomorrow-forecast.row-wrapper {
	justify-content: space-between;
	width: 100%;
}

#tomorrow-forecast > .row-wrapper {
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 5px;
	font-size: 120%;
}

#tomorrow {
	font-size: 75%;
	opacity: 75%;
}

#tomorrow-humidity-icon {
	font-size: 1em;
	color: var(--accent);
}

#tomorrow-weather-icon {
	width: auto;
	height: 1.5em;
}

#tomorrow-min-temp,
#tomorrow-max-temp {
	font-size: 90%;
	font-weight: 200;
}

/* Copy for elements added by JS */

/* Weather Details */

#weather-details {
	width: 100%;
}

#weather-details .var-hor-divider {
	background-color: var(--accent);
}

#weather-details-header {
	width: 100%;
	margin-bottom: 0.5rem;
	font-size: 120%;
	opacity: 60%;
}

#air-quality-index {
	width: 50%;
	background-color: var(--on-primary-container-container);
}

#air-quality-index-header {
	justify-content: space-between;
	width: 100%;
	gap: 1rem;
}

#code-green {
	width: auto;
	height: 2.5rem;
}

#air-ware-icon {
	flex: none;
	margin-right: 1rem;
	font-size: 2.5rem;
	color: var(--accent);
}

#air-quality-index-body {
	width: 100%;
}

#air-quality-index-details {
	flex: 1;
	justify-content: space-around;
	width: 100%;
	gap: 1rem;
}

#air-quality-index-details header {
	opacity: 80%;
}

#air-quality-index-details small {
	font-size: 125%;
}






/* ---- Media ---- */

@media (max-width: 739px) {
	#current-location p {
		display: none; 
	} 
}

@media (max-width: 628px) {
	#show-search-bar {
		display: flex;
	}
	#search-bar {
		display: none;
	}
}

@media (max-width: 627px) { 
	#city { 
		white-space: wrap; 
	} 
}