@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import url('./reset.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./modules.css');

body {
	margin: 0;
	padding: 0;
}

main { width: auto !important; }

/* ---- Header ---- */
header {
	width: 100%;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	position: sticky;
	top: 0;
	z-index: 100;
}

#city { white-space: nowrap; }

#show-search-bar { display: none; }

#search-bar {
	width: 750px;
	padding: 16px;
	border-radius: 10rem;
	max-width: 750px;
	min-width: 180px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
	flex-wrap: nowrap;
	background-color: var(--secondary-container);
	color: var(--text);
}

#search-bar-icon {
	opacity: 60%;
}

#city-input { width: 100%; }

#city-input:focus { outline: none; }

#city-input::placeholder { color: var(--text); }

/* Main */

main {
	display: flex;
}

/* Card 1 */

#last-updated {
	opacity: 60%;
}

#celsius-icon {
	width: auto;
	height: 6rem;
	margin-left: -1.5rem;
	margin-top: -0.5rem;
}

#fahrenheit-icon {
	display: none;
	width: auto;
	height: 6rem;
	margin-left: -1.5rem;
	margin-top: -0.5rem;
}

#current-weather-icon {
	width: auto;
	height: 5rem;
}

#callendar-icon { 
	margin-right: 0.5rem;
	color: var(--primary);
}

#current-date {
	opacity: 80%;
}














/* ---- Media ---- */

@media (max-width: 739px) {
	#current-location p {
		display: none; 
	} 
}

@media (max-width: 628px) {
	#show-search-bar {
		display: flex;
	}
	#search-bar {
		display: none;
	}
}

@media (max-width: 627px) { 
	#city { 
		white-space: wrap; 
	} 
}