@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

/* Reset */
*,
*::after,
*::before {
    border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
input,
textarea,
button {
    font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: none;
	-webkit-border-radius: 0;
}

/* Colors */
@media (prefers-color-scheme: light) {
	:root {
	  --text: #090f16;
	  --background: #f0f5f9;
	  --primary: #264464;
	  --secondary: #7aa4d1;
	  --accent: #3467a2;
	}
  }
  @media (prefers-color-scheme: dark) {
	:root {
	  --text: #e9eff6;
	  --background: #060b0f;
	  --primary: #9bb9d9;
	  --secondary: #2e5885;
	  --accent: #5d90cb;
	}
  }
  
/* Fonts */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--text);
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* ----- ----- ----- ----- */

body {
	margin: 10px 20px;
}

/* top nav */
#top-nav {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

#search-bar {
	width: 500px;
	max-width: 500px;
	min-width: 225px;
	display: flex;
	flex: 1;
	align-items: center;
	padding: 10px;
	border-radius: 10rem;
	background-color: var(--secondary);
	color: var(--text);
}

#search-bar button {
	width: 24px;
	height: 24px;
	float: right;
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: inherit;
	cursor: pointer;
}

#search-bar button:hover {
	transform: scale(1.2);
}

#city-input {
	width: 100%;
	margin-left: 5px;
}

#city-input:focus {
	outline: none;
}

#city-input::placeholder {
	color: var(--text);
}

#current-location {
	width: 185px;
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 10rem;
	text-wrap: nowrap;
	background-color: var(--accent);
	color: var(--background);
}

#current-location p {
	margin-left: 5px;
}

/* Hide text on smaller screens dynamically */
@media (min-width: 435px) and (max-width: 555px), (min-width: 319px) and (max-width: 380px) {
	#current-location {
		width: fit-content;
	}
	#current-location p {
	  display: none;
	}
}
